<div class="container mt-4 border border-info border-5">
    <div class="row bg-info text-light">
        <p class="fs-2 mb-1">{{which}}</p>
    </div>
    <div class="row justify-content-center">
        <div class="my-3 fs-5">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" placeholder="username">
        </div>
        <div class="mb-3 fs-5">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password">
        </div>
    </div>
    <div class="row px-3">
        <button id="submit" type="button", class="btn btn-info mb-2 fs-5 text-light">{{which}}!</button>
    </div>
    <p class="mb-3"><a class="fs-5 text-reset text-decoration-none" href="{{url}}">{{alternate}} instead</a></p>
</div>
<script src="./assets/javascript/form.js"></script>