<div class="d-grid mt-5">
    {{#each posts as |post|}}
    <button type="button" class="container mb-3 btn btn-info">
        {{> dashboard/dashboard-card post }}
    </button>
    {{/each}}
</div>
<div class="position relative">
    <button class="position-absolute bottom-0 start-50 translate-middle mb-2 btn btn-info btn-large text-white fs-2 mb-auto" id="new-post">+ New Post</button>
</div>
<script src="./assets/javascript/dashboardHome.js"></script>