{{>main/boilerplate}}

<body>
    {{>dashboard/header}}
    <main>
        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="assets/javascript/logout.js"></script>
    {{/if}}
</body>

</html>