<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Tech News</title>
    <link rel="stylesheet" href="assets/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <header class="container-fluid bg-info">
        <nav class="row row-cols-auto py-4">
            <div class="col ms-5 text-light"><a href="/" class="display-6 text-reset text-decoration-none">Home</a></div>
            <div class="col ms-5 text-light"><a href="/dashboard" class="display-6 text-reset text-decoration-none">Dashboard</a></div>
            {{#if loggedIn}}
            <div class="col ms-5 text-light"><a href="/logout" class="display-6 text-reset text-decoration-none">Logout</a></div>
            {{else}}
            <div class="col ms-5 text-light"><a href="/login" class="display-6 text-reset text-decoration-none">Login</a></div>
            {{/if}}
        </nav>
        <div class="row row-cols-auto pb-3">
            <h1 class="display-3 ms-5 pb-2 px-4 bg-light col fw-bold text-info rounded-pill">The Tech Blog</h1>
        </div>
    </header>
    <main>
        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="assets/javascript/logout.js"></script>
    {{/if}}
</body>

</html>