<div class="row">
    <div class="col col-auto"><p class="my-2 fs-3 text-white">{{title}}</p></div>
    <div class="col"><p class="my-2 fs-3 text-end text-white">{{format_date created_at}}</p></div>
</div>