<header class="container-fluid bg-info">
    <nav class="row row-cols-auto py-4">
        <div class="col ms-5 text-light"><a href="/" class="display-6 text-reset text-decoration-none">Home</a></div>
        <div class="col ms-5 text-light"><a href="/logout" class="display-6 text-reset text-decoration-none">Logout</a></div>
    </nav>
    <div class="row row-cols-auto pb-3">
        <h1 class="display-3 ms-5 pb-2 px-4 bg-light col fw-bold text-info rounded-pill">Dashboard</h1>
    </div>
</header>