<div class="container mt-4 pb-4 border border-info">
    <div class="row"><p class="py-2 mb-1 fs-2 bg-info text-white">{{title}} Post</p></div>
    <label for="title" class="row ms-3 mb-2 fs-3">Title</label>
    <div class="row">
        <input type="text" class="col mx-3 mb-3 form-control fs-4" id="title" placeholder="title">
    </div>
        <label for="content" class="row ms-3 mb-2 fs-3">Content</label>
    <div class="row">
        <input type="text" class="col mx-3 mb-3 form-control fs-4" id="content" placeholder="content">
    </div>
    <div class="row mx-2">
        <button type="button" class="btn btn-info text-white fs-4" id="button" user="{{user}}">{{button}}</button>
    </div>
</div>