<header class="container-fluid bg-info">
    <nav class="row row-cols-auto py-4">
        <div class="col ms-5 text-light"><a href="/" class="display-6 text-reset text-decoration-none">Home</a></div>
        {{#if loggedIn}}
        <div class="col ms-5 text-light"><a href="/dashboard" class="display-6 text-reset text-decoration-none">Dashboard</a></div>
        <div class="col ms-5 text-light"><a href="" id="logout" class="display-6 text-reset text-decoration-none">Logout</a></div>
        {{else}}
        <div class="col ms-5 text-light"><a href="/login" class="display-6 text-reset text-decoration-none">Login</a></div>
        {{/if}}
    </nav>
    <div class="row row-cols-auto pb-3">
        <h1 class="display-3 ms-5 pb-2 px-4 bg-light col fw-bold text-info rounded-pill">The Tech Blog</h1>
    </div>
</header>